<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 pattern">
      <ul class="list-unstyled social">
        <li><%= link_to "", "/auth/facebook", class: "fb" %></li>
        <li><a href="#" class="tw" data-toggle="tooltip" data-placement="bottom" title="Coming Soon"></a></li>
      </ul>
    </div>
  </div>
</div>

<script>
	$(function () {
		/*Generate tooltip for twitter*/
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>