<div class="container">
	<div class="row">
		<div class="jumbotron">
			<h2>Ask facebook question in natural language</h2>
			<p></p>
			<%= simple_form_for(@search, html: { novalidate: true }) do |f| %>
			  <%= f.input :query, :placeholder => 'Start type your question', :input_html => {:class => 'form-control input-lg' }, :label => false %>
			  <span id="helpBlock" class="help-block">
			  	Example question: 
			  		Who of my friend like bob dylan,
			  </span>
			  <%= f.button :submit %>
			<% end %>
		</div>
	</div>
</div>


