.pattern{
	background: url(/assets/pattern.png) repeat-x;
	height: 250px;
	text-align: center;
	border: 1px solid #BBB9B9;
}
.social{
	padding-top:17%;
}
.social li{
	margin-top: 22px;
}
.social li a{
	display: block;
	width: 100%;
}
.social .fb{
	background: url(/assets/social_icons.png) -104px 200px;
	height: 31px;
	width: 65%;
	margin: 0px auto;
}
.social .tw{
	background: url(/assets/social_icons.png) -116px 130px;
	height: 31px;
	width: 58%;
	margin: 0px auto;
	opacity: 0.4;
}