<li><%= link_to 'About', page_path('about') %></li>
<li>
  	<% if current_user %>
    	Welcome <strong><%= current_user.name %></strong>!
    	<%= link_to "Sign out", signout_path, id: "sign_out" %>
  	<% end %>
</li>
